.sidebar {
  min-width: 220px;
  height: 100vh;
}
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: -220px;
    height: 100vh;
    width: 220px;
    transition: left 0.3s ease;
    z-index: 1050;
  }
  .sidebar.open {
    left: 0;
  }
}
